*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo-body{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.todo-output{
    margin: 0.4rem 0rem;
    padding: 0.3rem 0rem;
    display: flex;
    justify-content: center;
    
}

.todo-output .todo-output-value{
    display: flex;
    width: 23rem;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
}

.todo-output .todo-output-value .output-name{
    width: 11.5rem;
    overflow-wrap: break-word;
}